body{
	background-color: #15ce61
}
.h1{
	text-align:  center;
	background-color: red;

}
p{
	font-size:  72px;
}
.cur2{
	color: #ecfff8;
	font-size: 64px;
}
.cur1{
	background-color: #26aaaa;
	font-size: 
}